{% if page.title == "Home" or page.title == "Intro" or page.title == "Blog" or page.title == "Projects" or page.title == "Tags" %}
    {% assign showHeader = true %}
{% endif %}

{% if showHeader == true %}
    <header class="header-home">
        <a class="link" href="{{ site.url }}/about">
            <img class="selfie" alt="{{ site.name }}" src="{{ site.url }}{{ site.picture }}" />
        </a>

        <h1 class="title">{{ site.name }}</h1>
        <div class="description"><p>{{ site.bio }}</p></div>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
